<div class="container">
    <header class="jumbotron">
      <h3><br></h3>
      <h3>About Us</h3>
      <h3><br></h3>
      <h5>Our Story</h5>
      <br>
      Hi, I am Shaun. I moved to Haltern am See with my wife and disabled brother in 2018.<br><br>
      As Haltern am See is a glorious place to visit for a short break we designed and built a disabled 
      friendly holiday flat on the first floor of our house.
      After visiting many of the great attractions that Haltern am See has to offer we noticed that not all places were suitable for my brother
      or for people with varying disabilities that were renting our holiday flat.<br><br>
      It is difficult to assess the accessibility of a place of interest through a standard Google search and it is sometimes 
      very time consuming to plan a visit around disability access. Our application can be used to help guide people/families with 
      disabilities find the most suitable places to visit in Haltern am See. We personally go to each place and check the accessibility
      before we add it to the recommendation list.
      <p><br></p>
      <h5>Our Mission</h5>
      <br>
      <p>Our mission is to help people/families find appropriate activities to do during their stay in Haltern am See.<br></p>
      <p><br></p>

    </header>
  </div>
