  <div class="container">
    <header class="jumbotron">
      <h3><br></h3>
      <h3>Welcome to the Haltern am See - Visitor Suggestion App</h3>
      <h3><br></h3>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><img style="width:120%" alt="Haltern am See town center" src="https://www.radfahren-haltern.de/site/assets/files/1852/marktplatz_haltern_am_see-foto_leoni_buscher-img_9167.1920x1080-ms.jpg"></li>
        <li class="mt-auto list-group-item">
          <h5>This app will help you maximise your stay by recommending places to visit based on your interests and disabilities.<br><br>
            You can simply press the directory button above to view all suitable places to visit according to your disability.<br><br>
            If you are a family with many interests and disabilities, you can create an account, add visitors and let us recommend
            places suitable for your family to visit so everyone can enjoy their stay in Haltern am See.<br><br>
          </h5>
        </li>
      </ul>
    </header>
  </div>
